@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family:
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    sans-serif;
  color-scheme: light;
}

body {
  margin: 0;
}
